// memo02.rc
#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////
//
// Menu
//
MYMENU MENU 
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "新規(&N)\tCtrl+N",                 IDM_NEW
        MENUITEM "開く(&O)\tCtrl+O",                 IDM_OPEN
        MENUITEM "上書き保存(&S)\tCtrl+S",           IDM_SAVE
        MENUITEM "名前をつけて保存(&A)...",          IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)",                         IDM_END
    END
    POPUP "編集(&E)"
    BEGIN
        MENUITEM "元に戻す(&U)\tCtrl+Z",             IDM_UNDO
        MENUITEM SEPARATOR
        MENUITEM "切り取り(&T)\tCtrl+X",             IDM_CUT
        MENUITEM "コピー(&C)\tCtrl+C",               IDM_COPY
        MENUITEM "貼り付け(&P)\tCtrl+V",             IDM_PASTE
        MENUITEM "削除(&D)\tDel",                    IDM_DEL
        MENUITEM SEPARATOR
        MENUITEM "すべて選択(&A)\tCtrl+A",           IDM_ALL
    END
    POPUP "表示(&V)"
    BEGIN
        MENUITEM "情報ウィンドウ(&I)\tShift+Ctrl+I", IDM_INFO
    END
    POPUP "ツール(&T)"
    BEGIN
        POPUP "年月日挿入(&Y)"
        BEGIN
            MENUITEM "Y年M月D日",                    IDM_YMD1
            MENUITEM "Y/M/D",                        IDM_YMD2
        END
        POPUP "時刻挿入(&H)"
        BEGIN
            MENUITEM "H時M分S秒",                    IDM_HMS1
            MENUITEM "H:M:S",                        IDM_HMS2
        END
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "バージョン情報(&A)",               IDM_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////
//
// Accelerator
//
MYACCEL ACCELERATORS 
BEGIN
    "A",        IDM_ALL,    VIRTKEY,        CONTROL, NOINVERT
    "C",        IDM_COPY,   VIRTKEY,        CONTROL, NOINVERT
    "X",        IDM_CUT,    VIRTKEY,        CONTROL, NOINVERT
    VK_DELETE,  IDM_DEL,    VIRTKEY,                 NOINVERT
    "N",        IDM_NEW,    VIRTKEY,        CONTROL, NOINVERT
    "O",        IDM_OPEN,   VIRTKEY,        CONTROL, NOINVERT
    "V",        IDM_PASTE,  VIRTKEY,        CONTROL, NOINVERT
    "S",        IDM_SAVE,   VIRTKEY,        CONTROL, NOINVERT
    "Z",        IDM_UNDO,   VIRTKEY,        CONTROL, NOINVERT
    "I",        IDM_INFO,   VIRTKEY, SHIFT, CONTROL, NOINVERT
END

/////////////////////////////////////////////////////////////////////
//
// Icon
//
MYICON                  ICON                    "icon1.ico"

/////////////////////////////////////////////////////////////////////
//
// Bitmap
//
MYBMP                   BITMAP                  "bitmap1.bmp"
