// dialog01.rc
//
#include "resource.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//
MYMENU MENU 
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "終了(&X)",                    IDM_END
    END
    POPUP "オプション(&O)"
    BEGIN
        MENUITEM "ダイアログを出す(&D)",        IDM_DLG
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "About(&A)",                   IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
MYDLG DIALOGEX 0, 0, 186, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "オプション"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 7, 69, 50, 14
    PUSHBUTTON      "キャンセル", IDCANCEL, 129, 69, 50, 14
    LTEXT           "初めてのダイアログボックスです",
                    IDC_STATIC, 39, 16, 94, 8
END
